/* imports */

@font-face {
      font-family: 'Gosha Bold';
      src: url('./assets/fonts/GoshaSans-Bold.otf');

}

@font-face {
      font-family: 'Gosha Regular';
      src: url('./assets/fonts/GoshaSans-Regular.otf');

}


@font-face {
      font-family: 'BDO Grotesk Light';
      src: url('./assets/fonts/BDOGrotesk-Light.ttf');

}

@font-face {
      font-family: 'BDO Grotesk Medium';
      src: url('./assets/fonts/BDOGrotesk-Medium.ttf');

}


/* reset */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* general styling */

h1 {
      font-family: "Gosha Bold", sans-serif;
      font-size: 2rem;
}

h2 {
      font-family: "Gosha Bold", sans-serif;
      font-size: 1.5rem;
}

body {
      font-family: "BDO Grotesk Light", sans-serif;
}

/* navbar styling */

header nav {
      height: 4.3rem;
      width: 100%;
      padding: 1rem 2rem 1rem 2rem;
      display: flex;
}

header .navbar__left {
      display: flex;
      gap: 35px;
      align-items: center;
}

header a {
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
      transition: color 0.3s ease-in-out;
      font-family: "BDO Grotesk Medium";
      width: 4rem;
      text-align: center;
}

header a:last-of-type::before {
      content: "";
      position: absolute;
      margin-left: 3.55rem;
      margin-top: 0.45rem;
      width: 0.14rem;
      height: 0.8rem;
      background-color: black;
      margin-right: 1rem;
      transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: rotate(0deg);
}

header a:last-of-type::after {
      content: "";
      position: absolute;
      margin-left: 0.8rem;
      transform: rotate(90deg);
      margin-top: 0.45rem;
      width: 0.14rem;
      height: 0.8rem;
      background-color: black;
      margin-right: 1rem;
      transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header a:last-of-type:hover::before,
header a:last-of-type:hover::after {
      background-color: #0000ff;

}

header a:last-of-type:hover::before {
      transform: rotate(90deg);
}

header a:last-of-type:active::before {
      transform: rotate(90deg);
}




header a:hover {
      color: #0000ff;

}

.logo {
      height: 4rem;
      width: 4rem;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
}