/* imports */

@font-face {
      font-family: 'Gosha Bold';
      src: url('./assets/fonts/GoshaSans-Bold.otf');

}

@font-face {
      font-family: 'Gosha Regular';
      src: url('./assets/fonts/GoshaSans-Regular.otf');

}


@font-face {
      font-family: 'BDO Grotesk Light';
      src: url('./assets/fonts/BDOGrotesk-Light.ttf');

}

@font-face {
      font-family: 'BDO Grotesk Medium';
      src: url('./assets/fonts/BDOGrotesk-Medium.ttf');

}


/* reset */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* general styling */

h1 {
      font-family: "BDO Grotesk Medium", sans-serif;
      font-size: 2.5rem;
}

h2 {
      font-family: "Gosha Bold", sans-serif;
      font-size: 1.5rem;
}

body {
      font-family: "BDO Grotesk Light", sans-serif;
}

/* navbar styling */

header nav {
      height: 4.3rem;
      width: 100%;
      padding: 1rem 2rem 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header .navbar__left {
      display: flex;
      gap: 35px;
      align-items: center;
}

header a {
      text-decoration: none;
      color: black;
      font-size: 0.9rem;
      transition: color 0.1s ease-in-out;
      font-family: "BDO Grotesk Medium";
      width: 4rem;
      text-align: center;
}

.navbar__left a:last-of-type::before {
      content: "";
      position: absolute;
      margin-left: 3.05rem;
      margin-top: 0.34rem;
      width: 0.14rem;
      height: 0.8rem;
      background-color: black;
      margin-right: 1rem;
      transition: color 0.1s ease-in-out, transform 0.3s ease-in-out;
      transform: rotate(0deg);
}

.navbar__left a:last-of-type::after {
      content: "";
      position: absolute;
      margin-left: 0.8rem;
      transform: rotate(90deg);
      margin-top: 0.33rem;
      width: 0.14rem;
      height: 0.8rem;
      background-color: black;
      margin-right: 1rem;
      transition: color 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.navbar__left a:last-of-type:hover::before,
.navbar__left a:last-of-type:hover::after {
      background-color: #0000ff;

}

.navbar__left a:last-of-type:hover::before {
      transform: rotate(90deg);
}

.navbar__left a:last-of-type:active::before {
      transform: rotate(90deg);
}




header a:hover {
      color: #f77737;
}

.logo {
      height: 4rem;
      width: 4rem;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.navbar__right {
      display: flex;
      gap: 35px;
      align-items: center;


}

.navbar__right a {

      width: 8rem;
      text-align: center;
}

.navbar__right a:first-of-type {
      color: #0000ff;
      margin-right: 2rem;
}

.navbar__right a:not(:first-of-type) {
      font-size: 0.8rem;
}


/* -----hero section styling----- */

/* section upper left */


.hero-section__upper-left {

      width: 50rem;
      height: 32rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-image: url("./assets/home/images/hero-section-image-left.avif");
      background-size: cover;
}

.hero-section__upper-left h1,
.hero-section__upper-left p {
      color: #fdf900;
      mix-blend-mode: overlay;
}

.hero-section__upper-left h1 {
      margin-top: 4rem;
      margin-left: 4rem;
      letter-spacing: -2px;
      font-size: 3rem;
}

.hero-section__upper-left p {
      margin-left: 4rem;
      text-decoration: solid underline;
      font-family: "BDO Grotesk Medium";
      letter-spacing: -0.5px;
      font-size: 1.2rem;
}

.hero-section__upper-left p:hover {
      color: #f77737;
      mix-blend-mode: normal;
}

.cube-hover {
      border-top: 4px solid #f77737 !important;
      border-right: 4px solid #f77737 !important;
}

.hero-section__upper-left-cube {
      height: 0.6rem;
      width: 0.6rem;
      position: absolute;
      margin-left: 15.2rem;
      margin-top: 10.1rem;
      transform: rotate(45deg);
      border-top: 4px solid #fdf900;
      border-right: 4px solid #fdf900;
}