/* imports & defining variables */

:root {
      --title-font: "Montserrat Bold", sans-serif;
      --para-font: "Montserrat Regular", sans-serif;
}


@font-face {
      font-family: 'BDO Grotesk Light';
      src: url('./assets/fonts/BDOGrotesk-Light.ttf');

}

@font-face {
      font-family: 'BDO Grotesk Medium';
      src: url('./assets/fonts/BDOGrotesk-Medium.ttf');

}


@font-face {
      font-family: 'Montserrat Bold';
      src: url('./assets/fonts/Montserrat-Bold.ttf');

}

@font-face {
      font-family: 'Montserrat Regular';
      src: url('./assets/fonts/Montserrat-Regular.ttf');

}

/* reset */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* general styling */

h1 {
      font-family: var(--title-font), sans-serif;
      font-size: 2.5rem;
}

h2 {
      font-family: var(--title-font), sans-serif;
      font-size: 1.8rem;
}

body {
      font-family: var(--para-font), sans-serif;
      width: 100vw;
      max-width: 1400px !important;
      margin-left: auto;
      margin-right: auto;
      overflow-x: hidden;

}

html {

      scroll-behavior: smooth;
      width: 100vw;
}

/* navbar styling */

header nav {
      height: 4.3rem;
      max-width: 1300px;
      width: 100%;
      padding: 1rem 2rem 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header .navbar__left {
      display: flex;
      gap: 35px;
      align-items: center;
}

header a {
      text-decoration: none;
      color: black;
      font-size: 0.9rem;
      transition: color 0.1s ease-in-out;
      font-family: var(--para-font), sans-serif;
      width: 4rem;
      text-align: center;
}

.navbar__left a:last-of-type::before {
      content: "";
      position: absolute;
      margin-left: 3rem;
      margin-top: 0.2rem;
      width: 0.14rem;
      height: 0.8rem;
      background-color: black;
      margin-right: 1rem;
      transition: color 0.1s ease-in-out, transform 0.3s ease-in-out;
      transform: rotate(0deg);
}

.navbar__left a:last-of-type::after {
      content: "";
      position: absolute;
      margin-left: 0.63rem;
      transform: rotate(90deg);
      margin-top: 0.2rem;
      width: 0.14rem;
      height: 0.8rem;
      background-color: black;
      margin-right: 1rem;
      transition: color 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.navbar__left a:last-of-type:hover::before,
.navbar__left a:last-of-type:hover::after {
      background-color: #0000ff;

}

.navbar__left a:last-of-type:hover::before {
      transform: rotate(90deg);
}

.navbar__left a:last-of-type:active::before {
      transform: rotate(90deg);
}




header a:hover {
      color: #f77737;
}

.logo {
      height: 4rem;
      width: 4rem;
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.navbar__right {
      display: flex;
      gap: 5%;
      align-items: center;
      max-width: 28rem;
      width: 33%;


}

.navbar__right a {

      width: 8rem;
      text-align: center;
}

.navbar__right a:first-of-type {
      color: #0000ff;
      margin-right: 2rem;
}

.navbar__right a:not(:first-of-type) {
      font-size: 0.8rem;
}


/* -----hero section styling----- */

.hero-section {
      height: calc(100vh - 4.3rem);
      /* max-width: 1300px; */
}

/* section upper left */


.hero-section__upper-left {
      max-width: 54rem;
      max-height: 32.4rem;
      width: 60vw;
      height: 36vw;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-image: url("./assets/home/images/hero-section-image-left.avif");
      background-size: 100% 100%;
}

.hero-section__upper-left h1,
.hero-section__upper-left p {
      color: #fdf900;
}

.hero-section__upper-left h1 {
      margin-top: 4rem;
      margin-left: 4rem;
      letter-spacing: -2px;
      font-size: 3rem;
}

.hero-section__upper-left p {
      margin-left: 4rem;
      text-decoration: solid underline;
      letter-spacing: -0.5px;
      font-size: 1.2rem;
      width: 27%;
      transition: color 0.2s ease-in-out;
}

.hero-section__upper-left p:hover {
      color: #f77737;
}



.hero-section__upper-left-cube {
      height: 0.6rem;
      width: 0.6rem;
      position: absolute;
      margin-left: 15.8rem;
      margin-top: 10.1rem;
      transform: rotate(45deg);
      border-top: 4px solid #fdf900;
      border-right: 4px solid #fdf900;
      transition: border 0.2s ease-in-out;
}

.cube-hover {
      border-top: 4px solid #f77737 !important;
      border-right: 4px solid #f77737 !important;
}

/* hero section mid right styling */

.hero-section__mid-right {
      max-width: 28rem;
      max-height: 21rem;
      width: 40vw;
      height: 30vw;
      background-image: url("./assets/home/images/hero-section-image-right.avif");
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: -24vw;
      margin-left: 63vw;
      color: #00ffaf;
      padding: 2rem;

}

.hero-section__mid-right h1 {
      font-size: 2rem;

}

.hero-section__mid-right p {
      text-decoration: solid underline;
      transition: color 0.2s ease-in-out;
}

.hero-section__mid-right p:hover {
      color: #3477f2;

}

.hero-section__upper-right-cube {
      height: 0.5rem;
      width: 0.5rem;
      position: absolute;
      margin-left: 13.2rem;
      margin-top: 4.65rem;
      transform: rotate(45deg);
      border-top: 3px solid #00ffaf;
      border-right: 3px solid #00ffaf;
      transition: border 0.2s ease-in-out;

}

.cube-right-hover {

      border-top: 3px solid #3477f2;
      border-right: 3px solid #3477f2;

}

/* hero section low mid styling */

.hero-section__low-mid {


      max-width: 35rem;
      max-height: 20rem;
      width: 40vw;
      height: 22.857vw;
      margin-left: 44vw;
      margin-top: -7vw;
      background-image: url("./assets/home/images/hero-section-lower-image.jpeg");
      background-size: cover;
      color: #00ffff;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.hero-section__low-mid h1 {
      font-size: 1.6rem;


}

.hero-section__low-mid p {
      text-decoration: solid underline;
      transition: color 0.2s ease-in-out;
      font-size: 0.9rem;
      transition: color 0.2s ease-in-out;
      width: 50%;
}

.hero-section__low-mid p:hover {
      color: #ff0956;
}

.hero-section__lower-mid-cube {
      height: 0.5rem;
      width: 0.5rem;
      position: absolute;
      margin-left: 11.6rem;
      margin-top: 4rem;
      transform: rotate(45deg);
      border-top: 3px solid #00ffff;
      border-right: 3px solid #00ffff;
      transition: border 0.2s ease-in-out;

}

.cube-low-hover {

      border-top: 3px solid #ff0956;
      border-right: 3px solid #ff0956;

}

.scroll-indicator-container {
      position: fixed;
      height: 100vh;
      width: 4.5rem;
      margin-left: 24rem;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
}

.scroll-indicator {

      display: flex;
      height: 4.8rem;
      width: 3.8rem;
      border: 1px solid black;
      justify-content: center;
      align-items: center;
      background-color: #0000ff;
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transform: translateY(6rem);

}


.scroll-indicator-arrow {
      height: 1.2rem;
      width: 1.2rem;
      margin-top: -30px;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      transform: rotate(135deg);
}